// Import root
@import url("./root.scss");

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
    color: inherit;
}
.container{
    width: 80%;
    margin: 0 auto;
}

// TopBar
.top-bar{
    &__wrapper{
        background-color: var(--primary);
    }
    &__inner-wrapper{
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: column;
        @media (min-width: 992px) {
            flex-direction: row;
        }
        >div{
            padding: .5rem;
        }
        a{
            text-decoration: underline;
            cursor: pointer;
        }
    }
    &__contact-blk{
        display: flex;
        align-items: center;
        justify-content: flex-end;
        margin: 0 -1rem;
        &-item{
            display: flex;
            align-items: center;
            justify-content: center;
            margin: 0 1rem;
            text-decoration: none !important;
            opacity: 1;
            transition: all 0.5s ease-in-out;
            &-ico{
                margin-right: .4rem;
            }
            &:hover{
                opacity: 0.6;
            }
        }
    }
}

// Main Header
.main-header{
    &__inner-wrapper{
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-direction: column;
        @media (min-width: 992px) {
            flex-direction: row;
        }
        > div{
            padding: 1rem 0;
        }
    }
    &__search{
        position: relative;
        label{
            position: absolute;
            left: 10px;
            top: 25px;
            color: var(--dark);
            font-size: 1.2rem;
            font-weight: bold;
            text-transform: capitalize;
            display: flex;
            align-items: center;
            svg{
                margin-right: .5rem;
            }
        }
        input{
            width: 300px;
            border-radius: 30px;
            height: 40px;
            padding: 0 1rem;
            padding-left: 120px;
            outline: none;
            border: 1px solid var(--light);
        }
    }
    &__actions{
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin: 0 -1rem;
        &-item{
            margin: 0 1rem;
            cursor: pointer;
            display: flex;
            align-items: center;
            text-transform: capitalize;
            font-weight: bold;
            color: var(--dark);
            transition: all 0.5s ease-in-out;
            position: relative;
            &:hover{
                color: var(--secondary);
                svg{
                    fill: var(--secondary);
                }
            }
            &-ico{
                margin-right: .4rem;
                svg{
                    fill: var(--dark);
                    transition: all 0.5s ease-in-out;
                }
            }
            .cart-num{
                position: absolute;
                left: 20px;
                top: -4px;
                background-color: var(--primary);
                width: 15px;
                height: 15px;
                border-radius: 50%;
                display: flex;
                align-items: center;
                justify-content: center;
                font-size: .6rem;
            }
        }
    }
}

// Main Nav
.main-nav{
    background-color: var(--dark);
    ul{
        list-style-type: none;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        @media (min-width: 768px) {
            flex-wrap: nowrap;
            justify-content: space-between;
        }
        li{
            margin: 0 1rem;
            a{
                cursor: pointer;
                padding: 1rem .5rem;
                color: var(--white);
                font-weight: bold;
                display: block;
                transition: all 0.5s ease-in-out;
                text-transform: capitalize;
                &:hover{
                    color: var(--primary);
                }
            }
            &:last-child{
                a{
                    color: #F11133;
                    &:hover{
                        color: var(--primary);
                    }
                }
            }
        }
    }
}

// Cart
.cart__dropdown{
    position: absolute;
    top: calc(100% + 2rem );
    left: -300px;
    min-width: 400px;
    min-height: 85px;
    background-color: #fff;
    text-align: initial;
    box-shadow: 0 0 10px rgb(0 0 0 / 30%);
    padding: 0rem .5rem;
    display: none;
    &-active{
        display: block;
    }
    &-no-items{
        text-align: center;
        color: var(--dark);
        display: flex;
        align-items: center;
        justify-content: center;
        min-height: 85px;
    }
    &-list{
        &-item{
            padding: 1rem;
            border-bottom: 1px solid #eee;
            display: flex;
            justify-content: space-between;
            img{
                width: 50px;
                margin-right: .3rem;
            }
            &-name{
                font-size: .9rem;
                margin-bottom: .2rem;
                color: var(--dark)!important;
            }
            &-dets{
                color: var(--dark)!important;
                opacity: 0.5;
                font-size: .8rem;
                font-weight: 400;
            }
        }
    }
}

// Footer
.main-footer{
    background-color: #3C3C3B;
    color: var(--white);
    &__inner-wrapper{
        display: flex;
        flex-direction: column;
        text-align: initial;
        @media (min-width: 992px) {
            flex-direction: row;
        }
        margin: 0 -1rem;
        padding: 1rem 0;
        > div{
            padding: 1rem;
            &:first-child{
                flex: 0 0 100%;
                @media (min-width: 992px) {
                    flex: 0 0 40%;
                }
                img{
                    margin-bottom: 1rem;
                }
                p{
                    margin-top: 1.3rem;
                }
            }
            &:last-child{
                flex: 0 0 100%;
                border-top: 1px solid #868686;
                @media (min-width: 992px) {
                    flex: 0 0 60%;
                    border-top: 0;
                    border-left: 1px solid #868686;
                }
            }
        }
    }
    &__copyright{
        display: flex;
        flex-direction: column;
        text-align: initial;
        border-top: 1px solid #868686;
        @media (min-width: 992px) {
            flex-direction: row;
        }
        > div{
            div{
                display: flex;
                flex-wrap: wrap;
                align-items: center;
                img{
                    margin: 0 .5rem;
                }
            }
        }
        > div{
            padding: 1rem 0;
            &:first-child{
                flex: 0 0 100%;
                @media (min-width: 992px) {
                    flex: 0 0 40%;
                }
            }
            &:last-child{
                flex: 0 0 100%;
                @media (min-width: 992px) {
                    flex: 0 0 60%;
                    display: flex;
                    flex-wrap: wrap;
                    align-items: center;
                    justify-content: space-between;
                }
            }
        }
    }
    &__lists{
        display: flex;
        flex-direction: column;
        @media (min-width: 992px) {
            flex-direction: row;
        }
        ul{
            list-style-type: none;
            margin-top: 1rem;
            flex: 0 0 100%;
            @media (min-width: 992px) {
                flex: 0 0 50%;
            }
            &:last-child{
                @media (min-width: 992px) {
                    border-left: 1px solid #868686;
                    padding-left: 2rem;
                }
            }
            li{
                a{
                    padding: .4rem 0;
                    text-transform: capitalize;
                    transition: all 0.5s ease-in-out;
                    color: var(--white);
                    cursor: pointer;
                    display: flex;
                    align-items: center;
                    &:hover{
                        color: var(--primary);
                    }
                    img{
                        width: 30px;
                        margin-right: .4rem;
                    }
                }
            }
        }
    }
    form{
        position: relative;
        margin-top: 1rem;
        width: 100%;
        max-width: 600px;
        input{
            width: 100%;
            border-radius: 30px;
            height: 40px;
            padding: 0 1rem;
            outline: none;
            border: 1px solid var(--light);
        }
        button{
            outline: none;
            border: none;
            background-color: var(--primary);
            padding: 0 1rem;
            position: absolute;
            top: 3px;
            right: 3px;
            height: calc(100% - 6px);
            border-radius: 30px;
            font-weight: bold;
        }
    }
}


// Single Product
.single-product{
    display: flex;
    justify-content: space-between;
    margin: 3rem 0;
    >div{
        &:first-child{
            flex: 0 0 35%;
        }
        &:last-child{
            flex: 0 0 60%;
        }
    }
    &__images{
        &-single-img{
            img{
                width: 100%;
            }
        }
        &-single-thumbs{
            display: flex;
            align-items: center;
            justify-content: center;
            > div{
                margin: .5rem;
            }
        }
    }
    &__details{
        text-align: initial;
        &-logo{
            margin-bottom: 1rem;
            img{
                width:70px;
            }
        }
        h3{
            // font-weight: bold;
            text-transform: capitalize;
            margin-bottom: 1rem;
        }
        &-category{
            color: #A7A9AC;
            margin-bottom: 1rem;
        }
        &-price{
            color: var(--secondary);
            font-size: 2rem;
            font-weight: bold;
            margin-bottom: 1rem;
        }
        h4{
            margin: 1rem 1rem .5rem;
        }
        &-sizes{
            display: flex;
            align-items: center;
            margin: 1rem -1rem 2rem;
            padding-bottom: 2rem;
            border-bottom: 1px solid var(--light);
            flex-wrap: wrap;
            > div{
                text-transform: capitalize;
                width: 80px;
                height: 80px;
                border-radius: 100%;
                background-color: var(--white);
                border: 1px solid var(--light);
                display: flex;
                align-items: center;
                justify-content: center;
                margin: 0 1rem;
                transition: all 0.5s ease-in-out;
                cursor: pointer;
                &:hover{
                    background-color: var(--light);
                }
                &.active{
                    background-color: var(--light);
                }
            }
        }
        &-count{
            display: flex;
            align-items: center;
            margin: 1rem 0 2rem;
            input{
                margin: 0 -33px;
                padding: 0.5rem 3rem;
                width: 300px;
                border-radius: 30px;
                text-align: center;
                outline: none;
                border: 1px solid var(--light);
                display: block;
            }
            button{
                cursor: pointer;
                position: relative;
                z-index: 100;
                outline: none;
                border: none;
                background-color: var(--primary);
                border-radius: 50%;
                width: 33px;
                height: 33px;
                display: flex;
                align-items: center;
                justify-content: center;
                font-weight: bold;
                font-size: 1.5rem;
            }
        }
        &-actions{
            margin: 0 -1rem;
            button{
                border: 0;
                outline: none;
                border-radius: 30px;
                min-width: 250px;
                padding: .8rem 1rem;
                text-transform: capitalize;
                font-weight: bold;
                font-size: 1.2rem;
                opacity: 1;
                transition: all 0.5s ease-in-out;
                cursor: pointer;
                margin: 0 1rem;
                &:hover{
                    opacity: 0.75;
                }
                &:first-child{
                    background-color: var(--secondary);
                    color: var(--white);
                }
                &:last-child{
                    background-color: var(--primary);
                }
            }   
        }
    }
}